<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Tech</title>
</head>
<body>
    <%- include('partials/videoBackground') %>

    <div class="mainContainer">
        <div class="header">
            <button class="buttonHome" id="buttonHome">
                <img src="/img/homeIcon.png" alt="galeryIcon">
            </button>
            <div class="title">
                <p>titulo del sitio</p>
            </div>
        </div>
        <div class="galeryContainer">
            <button class="showBirdButton"></button>
            <button class="showBirdButton"></button>
            <button class="showBirdButton"></button>
            <button class="showBirdButton"></button>
            <button class="showBirdButton"></button>
            <button class="showBirdButton"></button>
            <button class="showBirdButton"></button>
            <button class="showBirdButton"></button>
            <button class="showBirdButton"></button>
            <button class="showBirdButton"></button>
        </div>
    </div>
    <link rel="stylesheet" href="/css/galery.css">
    <script src="/js/galery.js"></script>
</body>
</html>