<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Tech</title>
</head>
<body>
    <%- include('partials/videoBackground') %>

    <div class="contenedor">
        <div class="header">
            <div class="title">
                <h1>Aves del departamento de Bolivar</h1>
            </div>
            <div class="description">
                <p>El departamento de Bolívar, ubicado en el norte de Colombia, es una región privilegiada por su riqueza natural y biodiversidad. Dentro de esta diversidad, las aves ocupan un lugar destacado, siendo indicadores clave de la salud de los ecosistemas y un atractivo para actividades como la investigación científica, la educación ambiental y el ecoturismo. Bolívar alberga una variedad de hábitats, desde manglares y ciénagas hasta bosques secos tropicales y áreas costeras, que sirven como refugio para aves residentes, endémicas y migratorias.</p>
            </div>
        </div>
        <div class="contenido">
            <div class="buttonWrapper">
                <button id="exoticButton">
                    <img src="/img/img1.png" alt="pajaro">
                </button>
            </div>
            <div class="buttonWrapper">
                <button id="endemicButton">
                    <img src="/img/img2.png" alt="pajaro">
                </button>
            </div>
            <div class="buttonWrapper">
                <button id="migratoryButton">
                    <img src="/img/img3.png" alt="pajaro">
                </button>
            </div>
            <div class="buttonWrapper">
                <button id="migratoryInDangerOfInvasionButton">
                    <img src="/img/img4.png" alt="pajaro">
                </button>
            </div>
        </div>
        <div class="buttonGraphicContainer" id="graficBirds">
            <button id="buttonGraphics" class="buttonGraphics">Tableros</button>
        </div>
        <div class="footer">
            <button class="buttonMapSite" id="buttonMapSite">
                <img src="/img/siteMapIcon.png" alt="siteMapIcon">
            </button>
            <button class="buttonGalery" id="buttonGalery">
                <img src="/img/galeryIcon.png" alt="galeryIcon">
            </button>
        </div>
    </div>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js"></script>
</body>
</html>
