<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Tech</title>
</head>
<body>
    <%- include('partials/videoBackground') %>
    
    <div class="mainContainer">
        <div class="header">
            <button class="buttonHome" id="buttonHome">
                <img src="/img/homeIcon.png" alt="galeryIcon">
            </button>
            <div class="title">
                <p>titulo del sitio</p>
            </div>
        </div>
        <div class="siteMapContainer">
            <button class="dropdown" id="homeDropdownButton">
                <p>Pagina principal</p>
                <img src="/img/dropdownIcon.png" alt="dropdown arrow" id="homeDropdownButtonImg">
            </button>
            <div class="homeDropdown off" id="homeDropdown">
                <p>Graficos de aves</p>
                <button class="dropdown" id="exoticBirdsDropdownButton">
                    <p>Aves exoticas</p>
                    <img src="/img/dropdownIcon.png" alt="dropdown arrow" id="exoticBirdsDropdownButtonImg">
                </button>
                <div class="exoticBirdsDropdown off" id="exoticBirdsDropdown">
                    <p>Grafico de aves exoticas</p>
                    <img src="" alt="">
                </div>
                
                <button class="dropdown" id="endemicBirdsDropdownButton">
                    <p>Aves endemicas</p>
                    <img src="/img/dropdownIcon.png" alt="dropdown arrow" id="endemicBirdsDropdownButtonImg">
                </button>
                <div class="endemicBirdsDropdown off" id="endemicBirdsDropdown">
                    <p>Grafico de aves endemicas</p>
                    <img src="" alt="">
                </div>

                <button class="dropdown" id="migratoryBirdsDropdownButton">
                    <p>Aves migratorias</p>
                    <img src="/img/dropdownIcon.png" alt="dropdown arrow" id="migratoryBirdsDropdownButtonImg">
                </button>
                <div class="migratoryBirdsDropdown off" id="migratoryBirdsDropdown">
                    <p>Grafico de aves migratorias</p>
                    <img src="" alt="">
                </div>

                <button class="dropdown" id="migratoryInDangerOfInvasionDropdownButton">
                    <p>Aves migratorias en peligro de invasion</p>
                    <img src="/img/dropdownIcon.png" alt="dropdown arrow" id="migratoryInDangerOfInvasionDropdownButtonImg">
                </button>
                <div class="off migratoryInDangerOfInvasionDropdown" id="migratoryInDangerOfInvasionDropdown">
                    <p>Grafico de aves migratorias en peligro de invasion</p>
                    <img src="" alt="">
                </div>
            </div>
            <button class="dropdown" id="galeryDropdown">
                <p>Galeria</p>
                <img src="/img/dropdownIcon.png" alt="dropdown arrow">
            </button>
        </div>
    </div>
    <link rel="stylesheet" href="/css/siteMap.css">
    <script src="/js/siteMap.js"></script>
</body>
</html>