<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Tech</title>
</head>
<body>
    <%- include('partials/videoBackground') %>
    
    <div class="mainContainer">
        <div class="header">
            <button class="buttonHome" id="buttonHome">
                <img src="/img/homeIcon.png" alt="galeryIcon">
            </button>
            <div class="title">
                <h1>Mapa del sitio</h1>
            </div>
        </div>
        <div class="siteMapContainer">
            <button class="dropdown" id="homeDropdownButton">
                <p>Pagina principal</p>
                <img src="/img/dropdownIcon.png" alt="dropdown arrow" id="homeDropdownButtonImg">
            </button>
            <button class="dropdown" id="galeryDropdown">
                <p>Galeria</p>
                <img src="/img/dropdownIcon.png" alt="dropdown arrow">
            </button>
        </div>
    </div>
    <link rel="stylesheet" href="/css/siteMap.css">
    <script src="/js/siteMap.js"></script>
</body>
</html>