*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

h1 {
    color: #224f77;
}

.header {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    margin-inline-start: .5em;
    margin-block-start: .5em;
}

.title {
    justify-self: center;
}

.galeryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: space-evenly;
}

.showBirdButton {
    background-color: transparent;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: calc(33% - 16px);
    min-width: 200px;
    height: auto;
}

.showBirdButton p {
    background-color: white;
}

.showBirdButton img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.buttonHome {
    width: 4em;
    border: none;
    background-color: transparent;
}

.buttonHome img {
    width: 100%;
}