*{
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    grid-template-rows: max-content max-content auto max-content;
    width: 100vw;
    height: 100vh;
    margin: 0.5em auto;
    padding: 0.5em;
}

.header {
    display: grid;
    grid-gap: 2em;
    padding: 1em;
    background: linear-gradient(45deg, #686666, #abebf3); /* Fondo degradado */
    color: rgb(40, 39, 39); /* Texto en blanco */
    font-family: Arial, Helvetica, sans-serif; /* Fuente moderna */
    border-radius: 2in; /* Bordes redondeados */
    box-shadow: 10px 10px 0 0; /* Sombra para dar profundidad */
    text-align: center; /* Centra el contenido del texto */
}

.header p {
    font-size: 1.5em; /* Tamaño de fuente para subtítulos o descripciones */
    margin: 0.5em 0 0 0; /* Espaciado superior para separar del título */
}

.footer{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    grid-row-start: 4;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.contenido {
    height: max-content;
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.buttonWrapper  {
    width: 10em;
    height: 10em;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}  

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.buttonGraphicContainer {
    display: flex;
    justify-content: center;
    padding: 9em;
}

.buttonGraphics {
    width: 100%;
    border: 4mm ridge rgb(175 224 227 / 60%);
    font-size: 2em;
}

.footer button {
    width: 4em;
    border: none;
    background-color: transparent;
}
