*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
    padding: .5em;
}

h1, p {
    color: #224f77;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header {
    margin-block-end: 5em;
    grid-template-columns: max-content auto;
    align-items: center;
}

.title {
    justify-self: center;
}

button {
    border: none;
    background-color: transparent;
}

.buttonHome {
    width: 4em;
    padding: .5em;
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown p {
    font-size: 3.5em;
}

.siteMapContainer {
    padding: .5em;
    justify-self: center;
    display: grid;
    grid-gap: 1em;
    background: linear-gradient(45deg, #b5bde6, #c5dde0);
    border-radius: .5em;
}

.homeDropdown {
    padding-inline-start: 1em;
}

img {
    width: 4em;
}

.dropdown img {
    width: 5em;
}
