*{
    margin: 0;
    padding: 0;
}

.mainContainer {
    padding: .5em;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header {
    margin-block-end: 5em;
    grid-template-columns: max-content auto;
    align-items: center;
}

.title {
    justify-self: center;
}

button {
    border: none;
    background-color: transparent;
}

.buttonHome {
    width: 4em;
    padding: .5em;
}

.dropdown {
    display: flex;
}

.siteMapContainer {
    padding: .5em;
    justify-self: center;
    display: grid;
    grid-gap: 1em;
}

.homeDropdown {
    padding-inline-start: 1em;
}

.homeDropdown > .on {
    padding-inline-start: 1em;
}

img {
    width: 4em;
}

.dropdown img {
    width: 1em;
}

.off {
    display: none;
}

.on {
    display: grid;
    grid-gap: 1.5em;
}